<head>
  <title>PSP Homebrew Database - {{ homebrew.name }}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <nav>
    <a id="title" href="index.html">PSP <span>Homebrew</span> Database</a>
  </nav>
  <div id="content">
    <p><h1>{{ homebrew.name }}</h1></p>
    {% if homebrew.requires_additional_files %}
    <p><b>Note:</b> This homebrew requires additional files to work!</p>
    {% endif %}
    {% if homebrew.ai_used %}
    <p><b>Note:</b> This homebrew was made using AI</p>
    {% endif %}
    {% if homebrew.description %}
    <p>{{ homebrew.description.split('\n')|join('<br/>'|safe) }}</p>
    {% else %}
    <p>{{ homebrew.summary }}</p>
    {% endif %}
    <div id="screenshots">
      {% for screenshot in homebrew.screenshots %}
      <img src="{{ screenshot }}" alt="screenshot" width="480" height="272">
      {% endfor %}
    </div>
    <table>
      {% if homebrew.author %}
      <tr><td>Author</td><td>{{ homebrew.author }}</td></tr>
      {% endif %}
      {% if homebrew.website %}
      <tr><td>Website</td><td><a href="{{ homebrew.website }}">{{ homebrew.website }}</a></td></tr>
      {% endif %}
      {% if homebrew.source %}
      <tr><td>Source</td><td><a href="{{ homebrew.source }}">{{ homebrew.source }}</a></td></tr>
      {% endif %}
      {% if homebrew.license %}
      <tr><td>License</td><td>{{ homebrew.license }}</td></tr>
      {% endif %}
      <tr><td>Category</td><td>{{ homebrew.category }}</td></tr>
      {% if homebrew.languages %}
      <tr>
        <td>Languages</td>
        <td>{{ ", ".join(homebrew.languages) }}</td>
      </tr>
      {% endif %}
      <tr>
        <td>Tags</td>
        <td>{% for tag in homebrew.tags %}{{ tag }} {% endfor %}</td>
      </tr>
    </table>
    <h2><a href="{{ homebrew.releases[0].url }}">Download</a></h2>
    <table>
        <tr><th>Release</th><th>Changelog</th><th>Release Date</th></tr>
        {% for release in homebrew.releases %}
        <tr><td><a href="{{ release.url }}">{{ release.tag }}</a></td><td>{% if release.changelog %}{{ release.changelog.split('\n')|join('<br/>'|safe) }}{% endif %}</td><td>{{ release.published_at }}</td></tr>
        {% endfor %}
    </table>
  </div>
  <div id="github_link">Source on <a href="{{ github_link }}">GitHub</a></div>
</body>