<head>
  <title>PSP Homebrew Database</title>
  <link rel="stylesheet" href="style.css">
  <script src="homebrew.js" defer></script>
</head>
<body>
  <nav>
    <a id="title" href="">PSP <span>Homebrew</span> Database</a>
  </nav>
  <div id="filters">
    Category:
    <select id="category_select">
      <option value="">All</option>
    </select>
    Search:
    <input id="search" oninput="applyFilters()">
    Tag:
    <select id="tag_select">
      <option value="">--</option>
    </select>
  </div>
  <div id="homebrew_list"></div>
  <div id="pagination"></div>
</body>